@using MVCUI.Models.EntityFramework
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <a class="btn btn-success" href="/Departman/Yeni">Yeni Departman</a>
</div>

<h2>Departman Listesi</h2>

<table class="table table-bordered" id="tblDepartmanlar">
    <thead>
        <tr>
            <th>ID</th>
            <th>AD</th>
            <th>Güncelle</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var departman in Model)
        {
            <tr>
                <td>@departman.Id</td>
                <td>@departman.Ad</td>
                <td><a class="btn btn-primary" href="/Departman/Guncelle/@departman.Id">Güncelle</a> </td>
                <td><button class="btn btn-danger DepartmanSil" data-id="@departman.Id">Sil</button> </td>
            </tr>
        }
       
    </tbody>
</table>